/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
resources/config/*
resources/queries/*
log/*
.DS_Store
*.tmp
*.swp

# output files
plans/*
parses/*
analyzes/*
